{% extends "fido_layout.html" %}

{% block title %}Test-Page{% endblock %}

{% block fido_layout_card_title %}Zeigt alle Nutzer an{% endblock %}

{% block fido_layout_card_text %}
    Hier werden alle angelegten Nutzer angezeigt
    <br>
    Test

    {% block basic_html_content %}
    <table class="table">
        <thead>
            <tr>
                <th>Nr.</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Username</th>
                <th>Passwort</th>
                <th>Fido aktiv</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>admin</td>
                <td>admin</td>
                <td>admin</td>
                <td>admin</td>
                <td>nein</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Arne</td>
                <td>Salveter</td>
                <td>arne.salveter</td>
                <td>password</td>
                <td>nein</td>
            </tr>
            <tr>
                <td>3</td>
                <td>René</td>
                <td>Maget</td>
                <td>rene.maget</td>
                <td>123456</td>
                <td>nein</td>
            </tr> 
            <tr>
                <td>4</td>
                <td>Gordon</td>
                <td>Flaegel</td>
                <td>gordon.flaegel</td>
                <td>qwertz</td>
                <td>nein</td>
            </tr>
        </tbody>
    </table>
    
    {% endblock %}
{% endblock %}



{% block additional_scripts %}
    <script type="module" src="/assets/js/register.js"></script>
{% endblock %}
