<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - FIDO Demo</title>
    <link href="/assets/bootstrap-5.2.2-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/fido-demo.css" rel="stylesheet">
</head>
<body>

{% block basic_html_content %}{% endblock %}

<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>-->
<script src="/assets/bootstrap-5.2.2-dist/js/bootstrap.min.js"></script>

{% block additional_scripts %}{% endblock %}

</body>
</html>
