{% extends "slim_layout.html" %}

{% block slim_layout_card_body %}
    <div class="mb-3">
        {% block fido_layout_card_text %}{% endblock %}
    </div>

    <div id="fido-layout-inprogress-div" class="d-none">
        <div class="d-flex justify-content-center mb-1 text-secondary">
            <div class="spinner-border" role="status"></div>
        </div>
        <div class="text-center text-secondary">Warte auf Genehmigung...</div>
    </div>

    <div id="fido-layout-failed-alert" class="alert alert-danger text-center d-none" role="alert">
        <img src="/assets/img/danger.svg" class="w-25">
        <div id="fido-layout-failed-alert-message"></div>
    </div>

    {% block fido_layout_button %}{% endblock %}

{% endblock %}
