{% extends "standard_layout.html" %}

{% block title %}Startseite{% endblock %}

{% block standard_layout_content %}
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="/assets/img/logo.svg" alt="" width="72" height="57">
        <h1 class="display-5 fw-bold">Herzlichen Glückwunsch!</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Sie haben sich sicher bei FIDO Demo angemeldet. Nachdem es sich bei FIDO Demo
                lediglich um eine technische Demonstration handelt, gibt es hier leider keine echten Funktionen. Sie
                können sich lediglich wieder abmelden.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <form action="/logout" method="post">
                    <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Abmelden</button>
                </form>
            </div>
        </div>
    </div>

    <div class="my-5 text-center">
        <h1 class="display-5 fw-bold">Übersicht über registrierte Nutzer</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Die nachfolgende Tabelle gibt eine Übersicht über die registrierten Nutzer und darüber,
                ob sie FIDO nutzen. Eine reale Anwendung hätte dieses Feature natürlich nicht ...</p>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Nutzername</th>
            <th>FIDO</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>admin</td>
            <td>admin</td>
            <td>admin</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Arne</td>
            <td>Salveter</td>
            <td>arne.salveter</td>
            <td>✕</td>
        </tr>
        <tr>
            <td>René</td>
            <td>Maget</td>
            <td>rene.maget</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Gordon</td>
            <td>Flaegel</td>
            <td>gordon.flaegel</td>
            <td>✕</td>
        </tr>
        </tbody>
    </table>
{% endblock %}