{% extends "standard_layout.html" %}

{% block title %}Startseite{% endblock %}

{% block standard_layout_content %}
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="/assets/img/logo.svg" alt="" width="72" height="57">
        <h1 class="display-5 fw-bold">Herzlichen Glückwunsch!</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Sie haben sich sicher bei FIDO Demo angemeldet. Nachdem es sich bei FIDO Demo
                lediglich um eine technische Demonstration handelt, gibt es hier leider keine echten Funktionen. Sie
                können sich lediglich wieder abmelden.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a class="btn btn-primary btn-lg px-4 gap-3" href="/logout">Abmelden</a>
            </div>
        </div>
    </div>
{% endblock %}