{% extends "layout_authentication.html" %}

{% block title %}Login{% endblock %}

{% block fido_layout_card_title %}Bei FIDO Demo anmelden{% endblock %}

{% block fido_layout_card_text %}
    Aus Sicherheitsgründen können Sie sich bei FIDO Demo nur mit einem FIDO-Sicherheitsschlüssel
    anmelden.
    <br>
    Klicken Sie auf den Button, um die Authentifizierung zu starten.
{% endblock %}

{% block fido_layout_button %}
    <button id="authenticate-button" type="button" onclick="onAuthenticateButtonClicked()"
            class="btn btn-primary">Sicherheitsschlüssel verwenden
    </button>
{% endblock %}

{% block additional_scripts %}
    {{ super() }}

    <script>
        const authenticateButton = document.getElementById("authenticate-button");

        function displayFailure(){
            fidoLayout_displayFailure("Anmeldung gescheitert");

            authenticateButton.innerText = "Erneut versuchen";
            authenticateButton.style.display = "block";
        }

        function displayInProgress(){
            fidoLayout_displayInProgress();
            authenticateButton.style.display = "none";
        }
    </script>

    <script type="module">
        import {
            get,
            parseRequestOptionsFromJSON,
        } from '/assets/js/webauthn-json.browser-ponyfill.js';

        async function onAuthenticateButtonClicked() {
            displayInProgress();

            let request = await fetch('/api/authenticate/begin', {
                method: 'POST',
            });
            if (!request.ok) {
                displayFailure();
                let errorMessage = "Failed to retrieve authentication data from the server. URL: " + request.url +
                    " Status: " + request.status + " Response Body: " + await request.text();
                throw new Error(errorMessage);
            }
            let json = await request.json();
            let options = parseRequestOptionsFromJSON(json);

            let response = null;
            try {
                response = await get(options);
            } catch (e) {
                displayFailure();
                throw Error("The browser could not process the cryptographic challenge. The most likely cause is that the " +
                    "user didn't allow the request. Raw Error: " + e)
            }

            let result = await fetch('/api/authenticate/complete', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(response),
            });

            if (!result.ok) {
                displayFailure();
                let errorMessage = "The server rejected the signed challenge. URL: " + request.url +
                    " Status: " + request.status + " Response Body: " + await request.text();
                throw new Error(errorMessage);
            }

            window.location = "/"
        }

        window.onAuthenticateButtonClicked = onAuthenticateButtonClicked
    </script>
{% endblock %}