{% extends "fido_layout.html" %}

{% block title %}Login{% endblock %}

{% block slim_layout_card_title %}Bei FIDO Demo anmelden{% endblock %}

{% block slim_layout_card_body %}
    <div class="mb-3">Bitte geben Sie ihre Login-Daten ein.</div>

    <form action="/login" method="post">
        <div class="form-floating">
            <input class="form-control input-group-no-border-radius-bottom"
                   id="usernameInput" name="username" maxlength="100" required placeholder="Nutzername">
            <label for="usernameInput">Nutzername</label>
        </div>

        <div class="form-floating">
            <input type="password" name="password" class="form-control input-group-no-border-radius-top"
                   id="passwordInput" maxlength="100" required placeholder="Passwort">
            <label for="passwordInput">Passwort</label>
        </div>

        <div class="d-grid gap-2 mt-3">
            <button type="submit" class="btn btn-primary">Anmelden</button>
        </div>
    </form>
{% endblock %}