{% extends "fido_layout.html" %}

{% block title %}Login{% endblock %}

{% block slim_layout_card_title %}Mit FIDO authentifizieren{% endblock %}

{% block fido_layout_card_text %}
    Sie haben die Authentifizierung mit einem FIDO-Sicherheitsschlüssel aktiviert.
    <br>
    Klicken Sie auf den Button, um die Authentifizierung zu starten.
{% endblock %}

{% block fido_layout_button %}
    <div class="d-grid gap-2">
        <button id="authenticate-button" type="button" class="btn btn-primary">Sicherheitsschlüssel verwenden</button>
    </div>
{% endblock %}

{% block additional_scripts %}
    <script src="/assets/js/login.js" type="module"></script>
{% endblock %}