{% extends "fido_layout.html" %}

{% block title %}Registrieren{% endblock %}

{% block slim_layout_card_title %}Bei FIDO Demo registrieren{% endblock %}

{% block slim_layout_card_body %}
    <div class="mb-3">Bitte geben Sie ihre Daten ein. Der Nutzername ist frei wählbar und hilft Ihnen, Ihre
        verschiedenen Accounts bei FIDO Demo zu unterscheiden.
    </div>

    {% if error_msg %}
    <div class="alert alert-danger" role="alert">
        {{ error_msg }}
    </div>
    {% endif %}


    <form action="/register" method="post">
        <div class="input-group">
            <div class="form-floating">
                <input class="form-control input-group-no-border-radius-bottom" id="firstnameInput" name="firstname"
                       maxlength="100" required
                       placeholder="Vorname">
                <label for="firstnameInput">Vorname</label>
            </div>
            <div class="form-floating">
                <input class="form-control input-group-no-border-radius-bottom" id="lastnameInput" name="lastname"
                       maxlength="100" required
                       placeholder="Nachname">
                <label for="lastnameInput">Nachname</label>
            </div>
        </div>

        <div class="form-floating">
            <input class="form-control input-group-no-border-radius-top input-group-no-border-radius-bottom"
                   id="usernameInput" name="username" maxlength="100" required placeholder="Nutzername"
                   pattern="[a-z0-9]+"
                   title="Nur Kleinbuchstaben und Zahlen, keine Sonderzeichen oder Leerzeichen">
            <label for="usernameInput">Nutzername</label>
        </div>

        <div class="form-floating">
            <input type="password" name="password" class="form-control input-group-no-border-radius-top"
                   id="passwordInput" maxlength="100" required placeholder="Passwort">
            <label for="passwordInput">Passwort</label>
        </div>

        <div class="d-grid gap-2 mt-3">
            <button type="submit" class="btn btn-primary">Registrieren</button>
        </div>
    </form>
{% endblock %}